@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-black;
}
/* * {
  cursor: none;
} */
body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --accent: var(--red);
}

.progress {
  position: sticky;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.progress svg {
  transform: translateX(-100px) rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.2;
}

.progress .indicator {
  stroke: var(--accent);
}

.section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 div {
  width: 200px;
  height: 300px;
  border: 2px dotted var(--accent);
  position: relative;
}
